header {
    background-color: #333;
    padding: 10px;
    color: #fff;
    width: 100%;
  }
  header{
    height: 30px;
    width: 100%;
  }
  ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
    
  }
  
  ul.navigation li {
    margin: 0 15px;
  }
  
  ul.navigation a {
    color: #fff;
    text-decoration: underline;
    

  }
  button#menu {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  footer{
    display: flex;
    flex: 1 1 30%;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: center;
  }
  .grid1 a {
    color: white;
    text-decoration: solid;
  }
  .grid2 img{
    padding: 10px;
    
  }
  .weather-forcast{
    background-color: mintcream;
    border-radius: 5px;
  }
  .weather-forcast p{
    display: flex;
    font-size: 20px;
    color: black;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
  .current-weather{
    background-color: mintcream;
    border-radius: 5px;

  }
  .current-weather p {
    display: flex;
    font-size: 20px;
    color: black;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin: 3px;
    
}
#place{
  font-size: 30px;
  text-decoration: wavy;

}
.member {
  text-align: center;
  width: 100%;
  background-color: rgba(255, 192, 203, 0.226);
  padding: 10pxauto;
  color: black;
}
#webLink{
  color:black;
}

  @media (max-width: 767px) {
    nav {
      position: relative;
    }
  
    ul.navigation {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #333;
      text-align: center;
      z-index: 2;
      margin-top: -10px;
    }
  
    ul.navigation li {
      margin: 10px 0;
    }
  
    button#menu {
      display: block;
    
    }

    ul.navigation.show {
      display: flex;
    }
    .home-section {
    text-align: center;
    gap: 10px;
 
  }

  }

  @media (min-width: 768px) {
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
            
    }
  
    ul.navigation {
      display: flex;
    }
    #footer-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        width: 100%;
        column-gap: 3%;
        align-items: center;
        justify-items: center;   
      
    }
    .home-section{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      gap: 15px;
    }
    .member{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      gap: 10px;
    }
    
  }