@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --heading-black:#0A0908;
    --paragraph-liteblack:#1f170c;
    --Accent--paleTaupe:#643806;
    --Background-beige:#EAE0D5;
    --Footer-deepbluegray:#22333B;
    --Primary-font-roboto:'Roboto', sans-serif;
    --Secondart-font-montserrat:'Montserrat',sans-serif;
    --Accent-font-Lora: 'Lora',sans-Serif;
    
    
}

body{
    margin: 20px;
    padding: 5px;
}

h1, h2 {
    font-family: var(--Secondart-font-montserrat);
    color: var(--heading-paragaph-black);
}

p{
    color: var(--paragraph-liteblack);
    font-family: var(--Primary-font-roboto);
}
img{
    align-items: center;
    height: 800px;
    
}
.screen1, .screen2{


text-align: center;
}
.screen1 img{
    margin-bottom: 10%;
    align-items: center;
    height: 800px;
    width: 1200px;
}
